<template>
  <div class="cart_item">
    <div class="cart_img">
      <router-link :to="'/urun/'+item.product.Id">
        <img :src="api.gen(item.product.Id)" alt />
      </router-link>
    </div>
    <div class="cart_info">
      <router-link :to="'/urun/'+item.product.Id">{{item.product.Name}}</router-link>

      <span class="quantity">Adet :{{item.cartItem.Quantity}}</span>
      <span class="price_cart">Ayar: {{item.cartItem.SelectedCarat}}</span>
    </div>
    <div class="cart_remove" @click="removeItem">
      <a>
        <i class="fas fa-times"></i>
      </a>
    </div>
  </div>
</template>

<script>
import api from "@/api";
export default {
  props: {
    item: {
      type: Object
    }
  },
  methods: {
    removeItem() {
      this.$emit("remove-item", this.item.cartItem);
    }
  },
  data() {
    return {
      api: api
    };
  }
};
</script>

<style>
</style>