<template>
  <div
    @mouseover="open"
    @mouseleave="open(false)"
    @click="open"
    :class="'cart_link '+ (isOpen ? 'active':'deactive')"
  >
    <a href="#">
      <loading v-if="loading" :loader="3"></loading>
      <i class="fas fa-shopping-cart"></i>
      | {{cartItems.length}} Ürün
      <i class="fa fa-angle-down"></i>
    </a>
    <span class="cart_quantity" v-if="cartItems.length > 0">{{cartItems.length}}</span>
    <!--mini cart-->
    <div class="mini_cart">
      <div class="mini_cart_inner">
        <loading v-if="loading"></loading>
        <cart-item
          v-for="item in cartItems"
          :item="item"
          :key="item.Id"
          @remove-item="removeItem($event)"
        ></cart-item>

        <!--<div class="cart_total">
          <span>Subtotal:</span>
          <span>138.00</span>
        </div>-->
      </div>
      <div class="mini_cart_footer">
        <div class="cart_button view_cart">
          <router-link to="/sepet">Sepeti Görüntüle</router-link>
        </div>
        <div class="cart_button checkout">
          <router-link to="/siparis-tamamla">Siparişi Tamamla</router-link>
        </div>
      </div>
    </div>
    <!--mini cart end-->
  </div>
</template>

<script>
import cartItemVue from "./cart-item.vue";
import inlineLoaderVue from "../common/inlineLoader.vue";
export default {
  components: {
    cartItem: cartItemVue,
    loading: inlineLoaderVue
  },
  created() {
    window.cartChanged = this.loadOpen;
    this.load();
  },
  data() {
    return {
      cartItems: [],
      isOpen: false,
      loading: true
    };
  },
  methods: {
    loadOpen(open = true) {
      if (open) this.open();
      this.load();
    },
    open(state = true) {
      this.isOpen = state;
    },
    async load() {
      this.loading = true;
      this.cartItems = await this.$api.Request("Private/GetCartItems");
      this.loading = false;
    },
    async removeItem(item) {
      if (
        confirm("Bu ürünü sepetinizden kaldırmak istediğinize eminmisiniz?")
      ) {
        this.loading = true;
        await this.$api.Request("Private/RemoveProductFromCart", {
          cartItemId: item.Id
        });
        this.load();
      }
    }
  }
};
</script>

<style>
</style>