/* 27. coming soon css here*/
.coming_soon_area {
	height: 100vh;
	background-repeat: no-repeat;
	background-attachment: scroll;
	background-position: center center;
	background-size: cover;
   /* background-image: url(../img/bg/coming-soon.jpg);*/
    position: relative;
    display: flex;
    align-items: center;
    &::before{
        position: absolute;
        content: "";
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
        background: #000;
        opacity: 0.15;
    }
}
.coming_soon_title {
	text-align: center;
    margin-bottom: 40px;
    @media #{$large-mobile}{
       margin-bottom: 33px;
    }
    & h2{
        font-size: 37px;
        @media #{$large-mobile}{
           font-size: 23px;
            line-height: 24px;
            margin-bottom: 11px;
        }
        text-transform: capitalize;
        color: $white;
        font-weight: 700;
        margin-bottom: 15px;
    }
    & p{
        color: $white;
        font-size: 15px;
        max-width: 730px;
        margin: 0 auto;
        line-height: 24px;
    }
}
.coming_soon_timing {
	text-align: center;
	margin: 57px 0 42px;
    @media #{$tablet-device}{
        margin: 50px 0 30px;
    }
    @media #{$large-mobile}{
        margin: 33px 0 19px;
    }
    
    
}
.single_countdown {
	display: inline-block;
    margin-right: 35px;
    @media #{$small-mobile}{
        margin-right: 20px;
    }
    &:last-child{
        margin-right: 0;
    }
}
.coming_soon_newsletter {
	text-align: center;
    & .subscribe_form{
        margin-top: 0;
        & form{
            margin: 0 auto;
            width: 600px;
            position: relative;
            @media #{$large-mobile}{
                width: 100%;
            }
            background: inherit;
            border: 1px solid $grey_color;
            border-radius: 50px;
            & input::-webkit-input-placeholder { /* Chrome/Opera/Safari */
               color: $white;
            }
            & input::-moz-placeholder { /* Firefox 19+ */
               color: $white;
            }
            & input:-ms-input-placeholder { /* IE 10+ */
               color: $white;
            }
            & input:-moz-placeholder { /* Firefox 18- */
               color: $white;
            }
            & input{
                color: $white;
                font-size: 14px;
                padding: 0 120px 0 28px;
                background: inherit;
                height: 48px;
                width: 100%;
                border: 0;
                @media #{$large-mobile}{
                    padding: 0 104px 0 28px;
                    height: 44px;
                }
            }
            & button{
                font-size: 13px;
                text-transform: uppercase;
                font-weight: 500;
                background: inherit;
                color: $white;
                position: absolute;
                right: 0;
                top: 0;
                border: 0;
                height: 100%;
                padding: 0 18px;
                @media #{$large-mobile}{
                    padding: 0 12px;
                }
                &:hover{
                    color: $secondary_color;
                }
                &::before{
                    content: "";
                    background: $white;
                    width: 2px;
                    position: absolute;
                    bottom: 8px;
                    top: 8px;
                    left: 0;
                }
            }
        }
    }
    
    & h3 {
        font-size: 16px;
        color:  $white;
        font-weight: 700;
        margin-bottom: 15px;
        letter-spacing: 2px;
        text-transform: capitalize;
    }
    & .mailchimp-error {
        text-align: center;
        color: $white;
    }
    & .mailchimp-success {
        text-align: center;
        color: $white;
    }
}
.coming_soon_logo {
    margin-bottom: 52px;
    @media #{$small-mobile}{
        margin-bottom: 30px;
    }
    & a{
        & img{
            @media #{$large-mobile}{
                width: 170px;
            }
        }
    }
}
.coming_soon_link {
	text-align: center;
    & ul{
        & li{
            display: inline-block;
            margin-right: 20px;
            &:last-child{
                margin-right: 0;
            }
            & a{
                font-size: 14px;
                text-transform: uppercase;
                font-weight: 700;
                height: 40px;
                line-height: 40px;
                padding: 0 50px;
                display: inline-block;
                background: $secondary_color;
                color: $fonts_color;
                border-radius: 5px;
                &:hover{
                    background: $fonts_color;
                    color: $white;
                }
            }
        }
    }
}
.countdown_number {
	font-size: 26px;
    font-weight: 500;
	line-height: 1;
    color: $white;
    margin-bottom: 8px;
    width: 60px;
    height: 40px;
    line-height: 38px;
    border: 1px solid #ddd;
    border-radius: 4px;
    @media #{$small-mobile}{
        width: 55px;
        font-size: 20px;
    }
}
.countdown_title {
	font-size: 13px;
    text-transform: capitalize;
     color: $white;
}