<template>
  <div class="hakkimizda">
    <div class="breadcrumbs_area">
      <div class="container">
        <div class="row">
          <div class="col-12">
            <div class="breadcrumb_content">
              <h3>HAKKIMIZDA</h3>
              <ul>
                <li><a href="http://localhost:8080/">Anasayfa</a></li>
                <li>&gt;</li>
                <li>Hakkımızda</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="about_section">
      <div class="container">
        <div class="row align-items-center">
          <div class="col-12">
            <div class="about_thumb">
              <img src="../assets/img/about/about1.jpg" alt="" />
            </div>

            <div class="about_content">
              <h1>Welcome to Monsta!</h1>
              <p>
                Duis autem vel eum iriure dolor in hendrerit in vulputate velit
                esse molestie consequat, vel illum dolore eu feugiat nulla
                facilisis at vero eros et accumsan et iusto odio dignissim qui
                blandit praesent luptatum zzril delenit augue duis dolore te
                feugait nulla facilisi. Nam liber tempor cum soluta nobis
                eleifend option congue nihil imperdiet doming id quod mazim
                placerat facer possim assum. Typi non habent claritatem insitam,
                est usus legentis in iis qui facit eorum claritatem.
              </p>
              <span
                >“There are many variations of passages of Lorem Ipsum
                available, but the majority have suffered alteration in some
                form.”</span
              >
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {};
</script>

<style></style>
