<template>
  <div class="MyAccount">
    <loading v-if="loading"></loading>

    <div class="breadcrumbs_area">
      <div class="container">
        <div class="row">
          <div class="col-12">
            <div class="breadcrumb_content">
              <h3>Hesabım</h3>
              <ul>
                <li>
                  <router-link to="/">Anasayfa</router-link>
                </li>
                <li>&gt;</li>
                <li>Hesabım</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>

    <section class="main_content_area" v-if="!loading">
      <div class="container">
        <div class="account_dashboard">
          <div class="row">
            <div class="col-sm-12 col-md-3 col-lg-3">
              <!-- Nav tabs -->
              <div class="dashboard_tab_button">
                <ul role="tablist" class="nav flex-column dashboard-list">
                  <li>
                    <a
                      href="#"
                      :class="getCurrentClass('dash')"
                      @click="setActiveTab('dash')"
                    >Genel Bakış</a>
                  </li>
                  <li>
                    <a
                      href="#"
                      :class="getCurrentClass('orders')"
                      @click="setActiveTab('orders')"
                    >Orders</a>
                  </li>

                  <li>
                    <a
                      href="#"
                      :class="getCurrentClass('details')"
                      @click="setActiveTab('details')"
                    >Account details</a>
                  </li>
                </ul>
              </div>
            </div>
            <div class="col-sm-12 col-md-9 col-lg-9">
              <!-- Tab panes -->
              <div class="tab-content dashboard_content">
                <div :class="getCurrentContentClass('dash')">
                  <h3>Genel Bakış</h3>
                  <div class="row">
                    <div class="col-md-6">
                      <div class="card">
                        <h5 class="card-number-header">Bekleyen Sipariş Sayısı</h5>
                        <p class="card-number-number">{{dashboardData.bekleyenCount}}</p>
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="card">
                        <h5 class="card-number-header">Onaylanan Sipariş Sayısı</h5>
                        <p class="card-number-number">{{dashboardData.onaylananCount}}</p>
                      </div>
                    </div>

                    <div class="col-md-6">
                      <div class="card">
                        <h5 class="card-number-header">Hazırlanan Sipariş Sayısı</h5>
                        <p class="card-number-number">{{dashboardData.hazirlaniyorCount}}</p>
                      </div>
                    </div>

                    <div class="col-md-6">
                      <div class="card">
                        <h5 class="card-number-header">Hazır Olan Sipariş Sayısı</h5>
                        <p class="card-number-number">{{dashboardData.hazirCount}}</p>
                      </div>
                    </div>
                  </div>
                </div>
                <div :class="getCurrentContentClass('orders')">
                  <h3>Orders</h3>
                  <div class="table-responsive">
                    <table class="table">
                      <thead>
                        <tr>
                          <th>Sipariş No</th>
                          <th>Tarih</th>
                          <th>Durum</th>
                          <th>Not</th>
                          <th>İşlemler</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr v-for="(order) in orders" :key="order.Id">
                          <td>{{order.Id}}</td>
                          <td>{{order.CreatedAt | date}}</td>
                          <td>
                            <span class="success">{{order.Status | siparisDurum}}</span>
                          </td>
                          <td>{{order.Note}}</td>
                          <td></td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>

                <div :class="getCurrentContentClass('details')">
                  <h3>Account details</h3>
                  <div class="login">
                    <div class="login_form_container">
                      <div class="account_login_form">
                        <form action="#">
                          <p>
                            Already have an account?
                            <a href="#">Log in instead!</a>
                          </p>
                          <div class="input-radio">
                            <span class="custom-radio">
                              <input type="radio" value="1" name="id_gender" /> Mr.
                            </span>
                            <span class="custom-radio">
                              <input type="radio" value="1" name="id_gender" /> Mrs.
                            </span>
                          </div>
                          <br />
                          <label>First Name</label>
                          <input type="text" name="first-name" />
                          <label>Last Name</label>
                          <input type="text" name="last-name" />
                          <label>Email</label>
                          <input type="text" name="email-name" />
                          <label>Password</label>
                          <input type="password" name="user-password" />
                          <label>Birthdate</label>
                          <input type="text" placeholder="MM/DD/YYYY" value name="birthday" />
                          <span class="example">(E.g.: 05/31/1970)</span>
                          <br />
                          <span class="custom_checkbox">
                            <input type="checkbox" value="1" name="optin" />
                            <label>Receive offers from our partners</label>
                          </span>
                          <br />
                          <span class="custom_checkbox">
                            <input type="checkbox" value="1" name="newsletter" />
                            <label>
                              Sign up for our newsletter
                              <br />
                              <em>You may unsubscribe at any moment. For that purpose, please find our contact info in the legal notice.</em>
                            </label>
                          </span>
                          <div class="save_button primary_btn default_button">
                            <a href="#">Save</a>
                          </div>
                        </form>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
</template>

<script>
import api from "../api";
import inlineLoaderVue from "./common/inlineLoader.vue";
export default {
  components: {
    loading: inlineLoaderVue
  },
  data() {
    return {
      activeTab: "dash",
      loading: true,
      dashboardData: null,
      orders: []
    };
  },
  methods: {
    async load() {
      this.loading = true;
      var dashPromise = api.Request("Private/GetDashboardData");
      var orderPromise = api.Request("Private/GetOrders");

      this.dashboardData = await dashPromise;
      this.orders = await orderPromise;
      this.loading = false;
    },

    setActiveTab(tab) {
      this.activeTab = tab;
    },
    getCurrentClass(tabName) {
      return "nav-link " + (this.activeTab == tabName ? "active show" : "");
    },
    getCurrentContentClass(tabName) {
      return (
        "tab-pane fade " + (this.activeTab == tabName ? "active show" : "")
      );
    }
  },
  created() {
    this.load();
  }
};
</script>

<style>
.card {
  padding: 30px;
  margin-bottom: 30px;
}
.card-number-header {
  text-align: center;
  font-size: 20px;
}
.card-number-number {
  text-align: center;
  font-size: 34px;
}
</style>