<template>
  <div class="account">
    <div class="breadcrumbs_area">
      <div class="container">
        <div class="row">
          <div class="col-12">
            <div class="breadcrumb_content">
              <h3>Giriş Yap & Kayıt Ol</h3>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="customer_login">
      <div class="container">
        <div class="row">
          <loading v-if="loading"></loading>
          <!--login area start-->
          <div class="col-lg-6 col-md-6">
            <div class="account_form">
              <h2>Giriş Yap</h2>
              <form>
                <p>
                  <label>
                    E-Posta Adresi
                    <span>*</span>
                  </label>
                  <input v-model="loginData.email" type="email" />
                </p>
                <p>
                  <label>
                    Parola
                    <span>*</span>
                  </label>
                  <input v-model="loginData.password" type="password" />
                </p>
                <div class="login_submit">
                  <!--<a href="#">Parolamı unuttum?</a>
                  <label for="remember">
                    <input id="remember" type="checkbox" />
                    Beni hatırla
                  </label>-->
                  <button @click="login();$event.preventDefault()">Giriş Yap</button>
                </div>
              </form>
            </div>
          </div>
          <!--login area start-->

          <!--register area start-->
          <div class="col-lg-6 col-md-6">
            <div class="account_form register">
              <h2>Kayıt Ol</h2>

              <p>
                <label>
                  Email
                  <span>*</span>
                </label>
                <input v-model="registerUser.email" name="email" type="email" />
              </p>
              <p>
                <label>
                  Parola
                  <span>*</span>
                </label>
                <input v-model="registerUser.password" name="password" type="password" />
              </p>
              <p>
                <label>
                  İsminiz
                  <span>*</span>
                </label>
                <input v-model="registerUser.name" name="name" type="text" />
              </p>
              <p>
                <label>
                  Telefon Numaranız
                  <span>*</span>
                </label>
                <input v-model="registerUser.phone" name="phone" type="text" />
              </p>
              <div class="login_submit">
                <button @click="register">Kayıt Ol</button>
              </div>
            </div>
          </div>
          <!--register area end-->
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import inlineLoaderVue from "./common/inlineLoader.vue";
import Swal from "sweetalert2";
export default {
  components: {
    loading: inlineLoaderVue
  },
  data() {
    return {
      loading: false,
      registerUser: {
        name: "",
        email: "",
        password: "",
        phone: "",
        address: "",
        city: "",
        district: ""
      },
      loginData: {
        email: "",
        password: ""
      }
    };
  },
  methods: {
    async login() {
      this.loading = true;
      var res = await this.$api.Request("Auth/Login", this.loginData);
      this.loading = false;
      if (res.status === true) {
        this.$store.commit("LoginInner", res);
        Swal.fire(
          "Başarıyla Giriş Yapıldı!",
          "Şimdi alişverişe devam edebilirsiniz.",
          "success"
        );
      }
    },
    async register() {
      this.loading = true;
      var res = await this.$api.Request("Auth/Register", this.registerUser);
      this.loading = false;
      if (res.success === true) {
        Swal.fire(
          "Başarıyla Kayıt Olundu!",
          "Giriş yapmadan önce hesabınızın onaylanmasını beklemelisiniz!",
          "success"
        );
      }
    }
  }
};
</script>

<style></style>
