<template>
  <div class="shoppinglist" style="postion:relative">
    <div class="breadcrumbs_area">
      <div class="container">
        <div class="row">
          <div class="col-12">
            <div class="breadcrumb_content">
              <h3>Alışveriş Sepeti</h3>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="wishlist_area">
      <div class="container">
        <div class="row">
          <div class="col-12">
            <div class="table_desc wishlist">
              <loading v-if="loading"></loading>

              <div class="cart_page table-responsive" style="min-height:200px">
                <table>
                  <thead>
                    <tr>
                      <th class="product_thumb">Resim</th>
                      <th class="product_name">Ürün</th>
                      <th class="product-price">Adet</th>
                      <th class="product_quantity">Ayar</th>
                      <th class="product_total">İşlemler</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr v-for="item in cartItems" :key="item.Id">
                      <td class="product_thumb">
                        <a href="#">
                          <img style="max-height: 120px;" :src="api.gen(item.product.Id)" alt />
                        </a>
                      </td>
                      <td class="product_name">
                        <a href="#">{{item.product.Name}}</a>
                      </td>
                      <td>{{item.cartItem.Quantity}}</td>
                      <td class="product_quantity">{{item.cartItem.SelectedCarat}}</td>
                      <td class="product_total">
                        <a @click="removeItemFromCart(item)">
                          <i class="fas fa-times"></i>
                        </a>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
              <div class="form-group col-12">
                <label>Sipariş Notu</label>
                <textarea v-model="note" class="form-control"></textarea>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-12">
            <div class="checkout_btn">
              <a @click="addOrder">Siparişi Oluştur</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import api from "@/api";
import inlineLoaderVue from "./common/inlineLoader.vue";
export default {
  props: {
    id: {
      type: String,
      default: "0"
    }
  },
  components: {
    loading: inlineLoaderVue
  },
  data() {
    return {
      loading: false,
      cartItems: [],
      api: api,
      note: ""
    };
  },
  methods: {
    async removeItemFromCart(item) {
      this.loading = true;
      await this.$api.Request("Private/RemoveProductFromCart", {
        cartItemId: item.cartItem.Id
      });
      if (window.cartChanged) window.cartChanged(false);
      this.load();
    },
    async load() {
      this.loading = true;
      this.cartItems = await this.$api.Request("Private/GetCartItems");
      this.loading = false;
    },
    async addOrder() {
      this.loading = true;
      var res = await api.Request("Private/ConvertCartToOrder", {
        note: this.note
      });
      if (res.success === true) {
        this.$route.replace("/siparis/" + res.id);
      }
      this.loading = true;
    }
  },
  watch: {
    id: {
      immediate: true,
      handler(val, old) {
        this.load();
      }
    }
  }
};
</script>

<style>
.checkout_btn {
  transform-origin: bottom right;
  transform: scale(1.5);
  margin-bottom: 30px;
  color: white;
}
</style>
