<template>
  <div class="contact">
    <div class="breadcrumbs_area">
      <div class="container">
        <div class="row">
          <div class="col-12">
            <div class="breadcrumb_content">
              <h3>İLETİŞİM</h3>
              <ul>
                <li><a href="http://localhost:8080/">Anasayfa</a></li>
                <li>&gt;</li>
                <li>İletişim</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="contact_map">
      <div class="container">
        <div class="row">
          <div class="col-12">
            <div class="map-area">
              <iframe
                src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d6309000.18563233!2d36.529392286201784!3d39.45652907425883!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1str!2str!4v1580467363179!5m2!1str!2str"
                width="100%"
                height="450"
                frameborder="0"
                style="border:0;"
                allowfullscreen=""
              ></iframe>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="contact_area">
      <div class="container">
        <div class="row">
          <div class="col-lg-6 col-md-12">
            <div class="contact_message content">
              <h3>contact us</h3>
              <p>
                Claritas est etiam processus dynamicus, qui sequitur mutationem
                consuetudium lectorum. Mirum est notare quam littera gothica,
                quam nunc putamus parum claram anteposuerit litterarum formas
                human. qui sequitur mutationem consuetudium lectorum. Mirum est
                notare quam
              </p>
              <ul>
                <li>
                  <i class="fa fa-fax"></i> Address : No 40 Baria Sreet 133/2
                  NewYork City
                </li>
                <li>
                  <i class="fa fa-phone"></i>
                  <a href="#">Infor@roadthemes.com</a>
                </li>
                <li><i class="far fa-envelope"></i> 0(1234) 567 890</li>
              </ul>
            </div>
          </div>
          <div class="col-lg-6 col-md-12">
            <div class="contact_message form">
              <h3>Bize Ulaşın</h3>
              <form id="contact-form" method="POST" action="assets/mail.php">
                <p>
                  <label> Adınız</label>
                  <input name="name" placeholder="Adınız *" type="text" />
                </p>
                <p>
                  <label> Email</label>
                  <input name="email" placeholder="Email *" type="email" />
                </p>
                <p>
                  <label> Konu</label>
                  <input name="subject" placeholder="Konu *" type="text" />
                </p>
                <div class="contact_textarea">
                  <label>Mesajınız</label>
                  <textarea
                    placeholder="Mesajınız *"
                    name="message"
                    class="form-control2"
                  ></textarea>
                </div>
                <button type="submit">Gönder</button>
                <p class="form-messege"></p>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {};
</script>

<style></style>
