<template>
  <div class="footer">
    <footer class="footer_widgets">
      <div class="container">
        <div class="footer_top">
          <div class="row">
            <div class="col-lg-4 col-md-6 col-sm-8">
              <div class="widgets_container contact_us">
                <h3>About Monsta</h3>
                <div class="footer_contact">
                  <p>
                    Address: 6688 Princess Road, London, Greater London BAS
                    23JK, UK
                  </p>
                  <p>
                    Phone:
                    <a href="tel:(+012)800456789-987"
                      >(+012) 800 456 789 - 987</a
                    >
                  </p>
                  <p>Email: Contact@plazathemes.com</p>
                  <ul>
                    <li>
                      <a href="#"><i class="fab fa-facebook"></i></a>
                    </li>
                    <li>
                      <a href="#"><i class="fab fa-twitter"></i></a>
                    </li>
                    <li>
                      <a href="#"><i class="fas fa-rss"></i></a>
                    </li>
                    <li>
                      <a href="#"><i class="fab fa-google-plus-g"></i></a>
                    </li>

                    <li>
                      <a href="#"><i class="fab fa-youtube"></i></a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="col-lg-2 col-md-6 col-sm-4">
              <div class="widgets_container widget_menu">
                <h3>Information</h3>
                <div class="footer_menu">
                  <ul>
                    <li><a href="about.html">About Us</a></li>
                    <li><a href="blog.html">blog</a></li>
                    <li><a href="contact.html">Contact</a></li>
                    <li><a href="services.html">Services</a></li>
                    <li><a href="#">Sample Page</a></li>
                    <li><a href="portfolio.html">Portfolio</a></li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="col-lg-2 col-md-6 col-sm-5">
              <div class="widgets_container widget_menu">
                <h3>My Account</h3>
                <div class="footer_menu">
                  <ul>
                    <li><a href="my-account.html">My Account</a></li>
                    <li><a href="contact.html">Contact</a></li>
                    <li><a href="wishlist.html">Wishlist</a></li>
                    <li><a href="portfolio.html">Portfolio</a></li>
                    <li><a href="checkout.html">Checkout</a></li>
                    <li><a href="faq.html">Frequently Questions</a></li>
                  </ul>
                </div>
              </div>
            </div>

            <div class="col-lg-4 col-md-6 col-sm-7">
              <div class="widgets_container product_widget">
                <h3>Top Rated Products</h3>
                <div class="simple_product">
                  <div class="simple_product_items">
                    <div class="simple_product_thumb">
                      <a href="#"
                        ><img src="../assets/img/s-product/product5.jpg" alt=""
                      /></a>
                    </div>
                    <div class="simple_product_content">
                      <div class="tag_cate">
                        <a href="#">Clothing,</a>
                        <a href="#">Potato chips</a>
                      </div>
                      <div class="product_name">
                        <h3><a href="#">Donec eu animal</a></h3>
                      </div>
                      <div class="product_price">
                        <span class="old_price">$86.00</span>
                        <span class="current_price">$70.00</span>
                      </div>
                    </div>
                  </div>
                  <div class="simple_product_items">
                    <div class="simple_product_thumb">
                      <a href="#"
                        ><img src="../assets/img/s-product/product6.jpg" alt=""
                      /></a>
                    </div>
                    <div class="simple_product_content">
                      <div class="tag_cate">
                        <a href="#">Women</a>
                      </div>
                      <div class="product_name">
                        <h3><a href="#">Dummy animal</a></h3>
                      </div>
                      <div class="product_price">
                        <span class="old_price">$74.00</span>
                        <span class="current_price">$69.00</span>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="footer_middel">
          <div class="row">
            <div class="col-12">
              <div class="footer_middel_menu">
                <ul>
                  <li><a href="#">Home</a></li>
                  <li><a href="#">Online Store</a></li>
                  <li><a href="#">Promotion</a></li>
                  <li><a href="#">Privacu Policy</a></li>
                  <li><a href="#">Terms Of Use</a></li>
                  <li><a href="#">Sitemap</a></li>
                  <li><a href="#">Support</a></li>
                  <li><a href="#">Contacts</a></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <div class="footer_bottom">
          <div class="row">
            <div class="col-12">
              <div class="copyright_area">
                <p>
                  Copyright © 2019 <a href="#">monsta</a> All Right Reserved.
                </p>
                <img src="../assets/img/icon/papyel2.png" alt="" />
              </div>
            </div>
          </div>
        </div>
      </div>
    </footer>
  </div>
</template>

<script>
export default {};
</script>

<style></style>
