<template>
  <div class="header">
    <header class="header_area">
      <div class="header_top">
        <div class="container">
          <div class="row align-items-center">
            <div class="col-lg-7 col-md-12">
              <div class="welcome_text">
                <p>
                  <span></span>
                </p>
              </div>
            </div>
            <div class="col-lg-5 col-md-12">
              <div class="top_right text-right">
                <ul>
                  <li class="language">
                    <a href="#">
                      English
                      <i class="fa fa-angle-down"></i>
                    </a>
                    <ul class="dropdown_language">
                      <li>
                        <a href="#">French</a>
                      </li>
                      <li>
                        <a href="#">Germany</a>
                      </li>
                      <li>
                        <a href="#">Japanese</a>
                      </li>
                    </ul>
                  </li>
                  <li class="currency">
                    <a href="#">
                      USD
                      <i class="fa fa-angle-down"></i>
                    </a>
                    <ul class="dropdown_currency">
                      <li>
                        <a href="#">EUR – Euro</a>
                      </li>
                      <li>
                        <a href="#">GBP – British Pound</a>
                      </li>
                      <li>
                        <a href="#">INR – India Rupee</a>
                      </li>
                    </ul>
                  </li>
                  <li class="top_links">
                    <router-link to="/hesap-olustur"
                      >Giriş Yap | Kayıt Ol</router-link
                    >
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!--header middel start-->
      <div class="header_middel">
        <div class="container">
          <div class="row align-items-center">
            <div class="col-lg-5">
              <div class="home_contact">
                <div class="contact_box">
                  <label>Adress</label>
                  <p>Street 12345 – USA</p>
                </div>
                <div class="contact_box">
                  <label>Telefon</label>
                  <p>
                    <a href="tel:(012)800456789">+(012) 800 456 789</a>
                  </p>
                </div>
              </div>
            </div>
            <div class="col-lg-2 col-md-3">
              <div class="logo">
                <router-link :to="'/'">
                  <img src="../assets/img/logo/logo.png" alt />
                </router-link>
              </div>
            </div>
            <div class="col-lg-5 col-md-9" v-if="$store.state.user != null">
              <div class="middel_right">
                <div class="search_btn">
                  <a href="#">
                    <i class="fas fa-search"></i>
                  </a>
                  <div class="dropdown_search">
                    <form action="#">
                      <input placeholder="Search product..." type="text" />
                      <button type="submit">
                        <i class="fas fa-search"></i>
                      </button>
                    </form>
                  </div>
                </div>
                <cart></cart>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!--header middel end-->

      <!--header bottom satrt-->
      <div class="header_bottom sticky-header">
        <div class="container">
          <div class="row align-items-center">
            <div class="col-12">
              <div class="main_menu_inner">
                <div class="logo_sticky">
                  <a href="index.html">
                    <img src="../assets/img/logo/logo.png" alt />
                  </a>
                </div>
                <div class="main_menu">
                  <nav>
                    <ul>
                      <li class="active">
                        <router-link :to="'/'">Anasayfa</router-link>
                      </li>
                      <li>
                        <a href="#">
                          SETLERİMİZ
                          <i class="fa fa-angle-down"></i>
                        </a>
                        <ul class="sub_menu pages" v-if="!hideCategories">
                          <fragment
                            v-for="category in getTopLevelCategories"
                            :key="category.Id"
                          >
                            <li>
                              <a href="#">
                                <b>{{ category.Name }}</b>
                              </a>
                            </li>

                            <router-link
                              tag="li"
                              v-for="item in getSubCategories(category.Id)"
                              :key="item.Id"
                              v-bind:to="'/set/' + item.Id"
                            >
                              <a>{{ item.Name }}</a>
                            </router-link>
                          </fragment>
                        </ul>
                      </li>
                      <li>
                        <a href="/hakkimizda">Hakkımızda</a>
                      </li>

                      <li>
                        <a href="/iletisim">İLETİŞİM</a>
                      </li>
                    </ul>
                  </nav>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!--header bottom end-->
    </header>
  </div>
</template>

<script>
import Vue from "vue";
import cartVue from "./cart/cart.vue";
export default {
  components: {
    cart: cartVue
  },
  data() {
    return {
      hideCategories: false,
      category: []
    };
  },
  computed: {
    getTopLevelCategories() {
      return this.category.filter(x => x.ParentCategoryId == null);
    }
  },
  created() {
    this.load();
  },
  methods: {
    getSubCategories(parentId) {
      return this.category.filter(x => x.ParentCategoryId == parentId);
    },
    async load() {
      var cache = window.localStorage.getItem("categoryCache");
      if (cache) this.category = JSON.parse(cache);
      this.category = await this.$api.Request("Public/GetCategoriesForMenu");
      window.localStorage.setItem(
        "categoryCache",
        JSON.stringify(this.category)
      );

      var self = this;
      this.hideCategories = true;
      Vue.nextTick(() => {
        self.hideCategories = false;
        self.$forceUpdate();
      });
    }
  }
};
</script>

<style></style>
