<template>
  <div class="jewellery">
    <div class="shop_area">
      <div class="container">
        <div class="row">
          <div class="col-lg-12 col-md-12">
            <loading v-if="loading"></loading>
            <div class="shop_toolbar">
              <div class="list_button"></div>
              <div class="orderby_wrapper">
                <div class="page_amount">
                  <p v-if="!loading">
                    Toplam {{ pagination.PageCount }} sayfada,
                    {{ pagination.ItemCount }} adet sonuç
                  </p>
                </div>
              </div>
            </div>
            <div class="tab-content">
              <div
                class="tab-pane grid_view fade show active"
                id="large"
                role="tabpanel"
              >
                <div class="row">
                  <product-listing
                    v-for="item in products"
                    :item="item"
                    :key="item.Id"
                  ></product-listing>
                </div>
              </div>
            </div>
            <div class="shop_toolbar t_bottom">
              <paginator
                @set-page="setPage($event)"
                :pagination="pagination"
              ></paginator>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import inlineLoaderVue from "./common/inlineLoader.vue";
import productListingVue from "./common/productListing.vue";
import paginationVue from "./common/pagination.vue";
/*
import { uuid } from "vue-uuid";
import img_primary from "../assets/img/product/product10.jpg";
import img_secondary from "../assets/img/product/product11.jpg";
import img_primary_two from "../assets/img/product/product7.jpg";
import img_secondary_two from "../assets/img/product/product6.jpg";
import img_primary_tree from "../assets/img/product/product3.jpg";
import img_secondary_tree from "../assets/img/product/product4.jpg";
*/
export default {
  components: {
    loading: inlineLoaderVue,
    productListing: productListingVue,
    paginator: paginationVue
  },
  data() {
    return {
      products: [],
      loading: true,
      pagination: {
        Page: 0,
        PageSize: 50
      }
    };
  },
  methods: {
    setPage(page) {
      this.pagination.Page = page;
      this.load();
    },
    async load() {
      this.loading = true;
      var res = await this.$api.Request("Private/GetProductsInCategory", {
        categoryId: this.id,
        filter: null,
        pagination: this.pagination
      });
      this.products = res.products;
      this.pagination = res.pagination;
      this.loading = false;
    }
  },
  watch: {
    id: {
      immediate: true,
      handler() {
        this.load();
      }
    }
  },
  props: {
    id: {
      type: String,
      default: "0"
    }
  },
  computed: {}
};
</script>

<style></style>
