<template>
  <div class="productdetail">
    <loading v-if="loading"></loading>
    <div class="product_details variable_product" style="padding-top:15px">
      <div class="container">
        <div class="row">
          <div class="col-lg-6 col-md-6">
            <product-images></product-images>
          </div>
          <div class="col-lg-6 col-md-6">
            <add-to-cart
              @added-to-cart="addedToCart"
              style="max-width:420px"
              :product="product"
              v-if="!loading"
            ></add-to-cart>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import addToCartVue from "./common/addToCart.vue";
import inlineLoaderVue from "./common/inlineLoader.vue";
import productImagesVue from "./common/productImages.vue";
export default {
  components: {
    addToCart: addToCartVue,
    productImages: productImagesVue,
    loading: inlineLoaderVue
  },
  data() {
    return {
      product: null,
      loading: false,
      images: []
    };
  },
  props: {
    id: {
      default: "0",
      type: String
    }
  },
  watch: {
    id: {
      immediate: true,
      handler(val, old) {
        this.load();
      }
    }
  },
  methods: {
    addedToCart() {
      this.$emit("added-to-cart");
    },
    async load() {
      this.loading = true;
      var res = await this.$api.Request("Private/GetProductDetails", {
        productId: this.id
      });
      this.product = res.product;
      this.images = res.images;
      this.loading = false;
    }
  }
};
</script>

<style >
</style>