<template>
  <div class="product_d_right">
    <loading v-if="loading"></loading>
    <h1>{{product.Name }}</h1>

    <div class="product_desc">
      <p>{{product.Description}}</p>
    </div>
    <div class="product_variant color" v-if="product.HasCarat">
      <h3>Ayar</h3>
      <select class="form-control custom_select" v-model.number="selectedCarat">
        <option v-for="carat in possibleCarats" :key="carat" :value="carat">{{carat}}</option>
      </select>
    </div>

    <div class="product_variant quantity">
      <label>Adet</label>
      <input min="1" max="100" value="1" type="number" v-model="quantity" />
      <button @click="addToCart" class="button">Sepete Ekle</button>
    </div>
  </div>
</template>

<script>
import api from "../../api";
import inlineLoaderVue from "./inlineLoader.vue";
export default {
  components: {
    loading: inlineLoaderVue
  },
  props: {
    product: {
      type: Object
    },
    showImage: {
      type: Boolean,
      default: true
    }
  },
  data() {
    return {
      api: api,
      selectedCarat: 0,
      possibleCarats: [8, 9, 10, 14, 15, 18, 20, 22, 24],
      quantity: 1,

      loading: false
    };
  },
  methods: {
    async addToCart() {
      this.loading = true;
      await api.Request("Private/AddProductToCart", {
        productId: this.product.Id,
        quantity: this.quantity,
        carat: this.selectedCarat,
        attributes: ""
      });
      this.loading = false;
      if (window.cartChanged) window.cartChanged();
      this.$emit("added-to-cart");
    }
  },
  created() {
    if (this.product.HasCarat) this.selectedCarat = this.product.Carat;
  }
};
</script>

<style>
</style>