<template>
  <div class="pagination">
    <ul>
      <li
        v-for="page in getPagingElements()"
        :key="page.content"
        :class="page.content == pagination.Page?'current':''"
      >
        <a
          style="cursor:pointer"
          @click="setPage(page.pageNumber)"
        >{{Number.isInteger(page.content) ? page.content+1: page.content}}</a>
      </li>
      <!--<li class="current">1</li>
      <li>
        <a href="#">2</a>
      </li>
      <li>
        <a href="#">3</a>
      </li>
      <li class="next">
        <a href="#">next</a>
      </li>
      <li>
        <a href="#">&gt;&gt;</a>
      </li>-->
    </ul>
  </div>
</template>

<script>
export default {
  props: {
    pagination: {
      type: Object
    },
    pageMargin: {
      type: Number,
      default: 5
    }
  },
  methods: {
    setPage(page) {
      this.$emit("set-page", page);
    },
    getPagingElements() {
      var self = this;
      var pagestoshow = [];
      var useCount = this.pagination.PageCount ? this.pagination.PageCount : 0;
      if (useCount > 10) {
        pagestoshow.push({
          click: true,
          content: "<<",
          pageNumber: 0
        });
      }
      pagestoshow.push({
        click: true,
        content: "<",
        pageNumber: this.pagination.Page - 1
      });

      for (let i = this.pageMargin * -1; i <= this.pageMargin; i++) {
        pagestoshow.push({
          click: i == 0 ? false : true,
          content: this.pagination.Page + i,
          pageNumber: this.pagination.Page + i
        });
      }

      pagestoshow.push({
        click: true,
        content: ">",
        pageNumber: this.pagination.Page + 1
      });

      if (useCount > 10) {
        pagestoshow.push({
          click: true,
          content: ">>",
          pageNumber: useCount - 1
        });
      }

      var filtered = pagestoshow.filter(function(el) {
        return (
          el.pageNumber > -1 &&
          el.pageNumber < useCount &&
          (el.click == false ||
            (el.pageNumber != useCount &&
              !(el.pageNumber == 0 && self.currentPage == 0)))
        );
      });

      return filtered;
    }
  },
  computed: {
    pagingElems() {
      return this.getPagingElements();
    }
  }
};
</script>

<style>
</style>