<template>
  <div class="col-lg-4 col-md-4 col-sm-6">
    <div class="single_product">
      <div class="product_thumb">
        <router-link class="primary_img" :to="'/urun/'+item.Id">
          <img :src="api.gen(item.Id)" />
        </router-link>
        <router-link class="secondary_img" :to="'/urun/'+item.Id">
          <img :src="api.gen(item.Id)" />
        </router-link>
        <div class="quick_button">
          <router-link
            :to="'/urun/'+item.Id"
            data-toggle="modal"
            data-target="#modal_box"
            data-placement="top"
            data-original-title="quick view"
          >İncele</router-link>
        </div>
      </div>
      <div class="product_content">
        <div class="tag_cate">
          <a>{{item.Weight}} gram</a> -
          <a>{{item.Carat}} ayar</a>
        </div>
        <h3>
          <router-link :to="'/urun/'+item.Id">{{item.Name}}</router-link>
        </h3>
        <div class="price_box">
          <span class="old_price"></span>
          <span class="current_price"></span>
        </div>
        <div class="product_hover">
          <div class="product_desc">
            <p>{{item.Description}}</p>
          </div>
          <div class="action_links">
            <ul>
              <li class="add_to_cart">
                <a @click="toggleAddToCart">Sepete Ekle</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>

    <div class="modal" tabindex="-1" v-if="addToCartDisplay" @click.self="toggleAddToCart">
      <div class="modal-dialog" style="max-width: 900px;" role="document">
        <div class="modal-content">
          <div class="modal-body">
            <product @added-to-cart="toggleAddToCart" :id="item.Id"></product>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import api from "@/api.js";
import addToCartVue from "./addToCart.vue";
import ProductDetailVue from "../Product-Detail.vue";
export default {
  components: {
    addToCart: addToCartVue,
    product: ProductDetailVue
  },
  data() {
    return {
      addToCartDisplay: false,
      api: api
    };
  },
  methods: {
    toggleAddToCart() {
      this.addToCartDisplay = !this.addToCartDisplay;
    }
  },
  props: {
    item: {
      default: () => {
        return {};
      },
      type: Object
    }
  }
};
</script>

<style>
</style>