<template>
  <div class="product-details-tab">
    <div id="img-1" class="zoomWrapper single-zoom">
      <a href="#">
        <img id="zoom1" src="../../assets/img/product/product1-big.jpg" alt="big-1" />
      </a>
    </div>

    <div class="single-zoom-thumb">
      <ul class="s-tab-zoom owl-carousel single-product-active owl-loaded owl-drag" id="gallery_01">
        <div class="owl-stage-outer">
          <div style="transition: all 0s ease 0s;">
            <div class="owl-item cloned" style="width: 110px; margin-right: 15px;">
              <li>
                <a href="#" class="elevatezoom-gallery active">
                  <img src="../../assets/img/product/product13.jpg" alt="zo-th-1" />
                </a>
              </li>
            </div>
          </div>
        </div>
      </ul>
    </div>
  </div>
</template>

<script>
export default {};
</script>

<style>
</style>