<template>
  <div id="app">
    <div id="nav">
      <Header></Header>

      <router-view></router-view>

      <Footer></Footer>
    </div>
  </div>
</template>

<script>
import Header from "@/components/Header.vue";
import Footer from "@/components/Footer.vue";
export default {
  components: {
    Header: Header,
    Footer: Footer
  }
};
</script>
