.modal {
    background-color: #1f1f1fbd;
    opacity: 1;
    display: block;
}

.modal-content button.close {
    top: 15px;
    right: 10px;
    left: unset;
}

.modal-header button.close {
    padding: unset;
    font-size: 25px;
}

.product_hover {
    width: 100%;
}

.custom_select {
    border-radius: 0px;
    border: 1px solid rgba(0, 0, 0, 0.13);
    color: rgb(192, 149, 120);
}